<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>NotiMask</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Apps to spoof</string>
			<key>ALSettingsKeyPrefix</key>
			<string>enabled-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.dunkston.notimask-applist.plist</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>icon-size</key>
					<real>29</real>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>default</key>
					<false/>
					<key>display-identifier-macro</key>
					<string>@@DISPLAYIDENTIFIER@@</string>
					<key>key</key>
					<string>@@DISPLAYIDENTIFIER@@</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>icon-size</key>
					<real>29</real>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>default</key>
					<false/>
					<key>display-identifier-macro</key>
					<string>@@DISPLAYIDENTIFIER@@</string>
					<key>key</key>
					<string>@@DISPLAYIDENTIFIER@@</string>
					<key>footer-title</key>
					<string>NotiMask by dunkston &amp; RedenticDev</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Spoof</string>
			<key>footerText</key>
			<string>- dunkston &amp; RedenticDev -</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Replace by App</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALSettingsKey</key>
			<string>app</string>
			<key>ALChangeNotification</key>
			<string>com.dunkston.notimask.preferencesChanged</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.dunkston.notimask-applist.plist</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>icon-size</key>
					<real>29</real>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>icon-size</key>
					<real>29</real>
					<key>suppress-hidden-apps</key>
					<true/>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>footer-title</key>
					<string>NotiMask by dunkston &amp; RedenticDev</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.dunkston.notimask</string>
			<key>key</key>
			<string>hideAttachements</string>
			<key>label</key>
			<string>Hide attachments</string>
			<key>PostNotification</key>
			<string>com.dunkston.notimask.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.dunkston.notimask</string>
			<key>label</key>
			<string>Fake Title</string>
			<key>key</key>
			<string>title</string>
			<key>placeholder</key>
			<string>Type $orig$ for original text</string>
			<key>PostNotification</key>
			<string>com.dunkston.notimask.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.dunkston.notimask</string>
			<key>label</key>
			<string>Fake Message</string>
			<key>key</key>
			<string>message</string>
			<key>placeholder</key>
			<string>Type $orig$ for original text</string>
			<key>PostNotification</key>
			<string>com.dunkston.notimask.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Clear fields</string>
			<key>action</key>
			<string>clearFields:</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Do you really want to clear text fields?</string>
				<key>title</key>
				<string>Confirm</string>
				<key>okTitle</key>
				<string>Confirm</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>